In [78]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [79]:
dataset=pd.read_csv("social_network_Ads.csv")

In [80]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [81]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [82]:
dataset=dataset.astype(int)

In [83]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [84]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [85]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [86]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset["Purchased"]

In [87]:
indep.shape

(400, 3)

In [88]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int32

In [89]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [90]:
from sklearn.ensemble import RandomForestClassifier

In [91]:
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['gini','entropy'],
            'max_features':['auto','sqrt','log2'],
            'n_estimators':[10,100]}

grid=GridSearchCV(RandomForestClassifier(),  param_grid, refit=True, verbose=3, n_jobs=-1,scoring='f1')

grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [92]:
table=pd.DataFrame.from_dict(re)

In [93]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065612,0.006249,0.009374,0.007654,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.709677,0.820513,0.809524,0.900000,0.888889,0.825721,0.068210,7
1,0.521782,0.055990,0.043740,0.015307,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.687500,0.842105,0.809524,0.900000,0.923077,0.832441,0.082952,6
2,0.049987,0.006249,0.006249,0.007653,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.687500,0.789474,0.780488,0.864865,0.888889,0.802243,0.071037,10
3,0.419532,0.029353,0.031721,0.000708,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.727273,0.777778,0.780488,0.900000,0.923077,0.821723,0.076095,8
4,0.049989,0.006248,0.012497,0.006248,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.727273,0.777778,0.780488,0.871795,0.894737,0.810414,0.062851,9
5,0.460330,0.011149,0.033870,0.004517,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.687500,0.842105,0.809524,0.900000,0.947368,0.837299,0.088635,3
6,0.048404,0.007676,0.012499,0.006249,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.764706,0.810811,0.780488,0.926829,0.947368,0.846040,0.076089,1
7,0.450218,0.012029,0.031244,0.000004,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.764706,0.810811,0.780488,0.900000,0.923077,0.835816,0.063996,4
8,0.046866,0.000003,0.015620,0.000004,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.687500,0.777778,0.731707,0.878049,0.882353,0.791477,0.077877,11
9,0.409461,0.018128,0.032796,0.005296,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.727273,0.850000,0.780488,0.900000,0.918919,0.835336,0.072206,5
10,0.043741,0.006248,0.014262,0.007907,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.687500,0.789474,0.809524,0.837209,0.833333,0.791408,0.054744,12
11,0.388703,0.028387,0.023824,0.010510,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.727273,0.842105,0.809524,0.900000,0.947368,0.845254,0.075671,2

In [94]:
re=grid.cv_results_

grid_predictions=grid.predict(x_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)


from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

In [56]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 10} 0.9104477611940298

In [57]:
print (clf_report)

              precision    recall  f1-score   support

           0       0.93      0.93      0.93        85
           1       0.88      0.88      0.88        49

    accuracy                           0.91       134
   macro avg       0.90      0.90      0.90       134
weighted avg       0.91      0.91      0.91       134

In [58]:
print (cm)

[[79  6]
 [ 6 43]]

In [72]:
age_input=float(input("age:"))
salary_input=float(input("estimated salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

age: 25
estimated salary 25000
Sex Male 0 or 1: 0

In [74]:
Future_Prediction=grid.predict([[age_input,salary_input,sex_male_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[0]

C:\ANACONDA\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(